body {
    font-family: "Source Sans Pro","Helvetica Neue",Arial,Helvetica,serif;
    font-size: 1.25em;
    line-height: 1.5em;
}


div.landing-logo
{
	text-align:center;
}

div.landing-logo a {
	margin:0em;
}

div.landing-logo p {
	font-size:1.5em;
	margin:0em;
}



div.logobox
{
	height:100px;	
}

div.taglinebox
{
	display:flex;
	align-items: center;
	justify-content: center;
}

p.tagline
{
	font-size:2em;
}

nav {
	border-bottom:2px dotted #000000;
	width:100%;
    font-size:0.75em;
    margin: 0;
    overflow: hidden;
    text-align: right;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
}
nav > ul > li > a {
	color: #000000;
	display: block;
	line-height: 2em;
	padding: 0.5em 0.5em;
	text-decoration: none;
}

main
{
	display: block;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
p 
{
    margin-bottom: 15px;
}

a{
    color:black;
}
a.visited{
    color:black;
}

h1
{
	line-height:1.1em;
}

h2
{
	font-size:1.5em;
	line-height:1.1em;
}


div.partnergrid
{
	margin:1em;
}

div.partnergrid div
{
	border:1px dotted gray;
	border-radius:10px;
	padding:1em;
	margin-bottom:1em;
}

div.sidemenu
{
	float:right;
	background-color:lightgray;
	padding:0.5em;
	width:20%;
	border-bottom-left-radius:10px;	
}

.grid {
    display: flex;
    justify-content: center;

}
.grid-cell {
    flex: 1;
    padding: 10px;
    border:1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    text-align:center;
}

footer
{
	padding:2em;
}

footer p.eu
{
	text-align:center;width:250px;font-size:0.6em; line-height:1em;
}


@media all and (max-width: 600px) {
	
    .grid {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
	
	div.logobox
	{
		display:inline-block;
	}
	
	div.taglinebox
	{
		display:block;
		margin-bottom:25px;
	}

	header p.tagline
	{
		line-height:1.5em;
		font-size:1.3em;
	}
	
    nav
    {
        text-align:left;
    }
    nav > ul > li > a {
        line-height:0.8em;
        padding: 0.2em 0.2em;
        font-size:1.5em;
    }
	
    heading
	{
		margin:0em;
		padding:0em;
	}
	
	main
    { 
        padding: 0em; 
    }

	

	div.sidemenu
	{
		width:100%;
		padding:0em;
	}

	div.sidemenu ul
	{
		margin:0em;
		padding:0em;
	}
}

@media all and (max-width: 500px) {
	header p.tagline
	{
		line-height:0.8em;
		font-size:0.9em;
	}
	.large {
		display: none;
	}
	
}

#partners div {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
#partners div a{
	text-decoration:none;
}


form {
	margin: 0 auto;
	width: 500px;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}

label span {
	display: inline-block;
	width: 120px;
	text-align: right;
}

input, textarea {
	font: 1em sans-serif;
	width: 250px;
	box-sizing: border-box;
	border: 1px solid #999;
}

input[type=checkbox], input[type=radio] 
{
		width: auto;
		border: none;
	}

	input:focus, textarea:focus {
		border-color: #000;
	}

textarea {
	vertical-align: top;
	height: 5em;
	resize: vertical;
}

fieldset {
	width: 250px;
	box-sizing: border-box;
	margin-left: 136px;
	border: 1px solid #999;
}

button {
	margin: 20px 0 0 124px;
}
