body {
    font-family: "Source Sans Pro","Helvetica Neue",Arial,Helvetica,serif;
    font-size: 1.25em;
    line-height: 1.5em;
}

main{
	display: block;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

div.landing-logo
{
	text-align:center;
}


div.landing-logo p {
	font-size:1.5em;
	margin:0em;
}

div.logo
{
	text-align:center;
	float:left;
}

div.logo a {
	margin:0em;
	text-decoration-line: none;
}

div.logo p {
	font-size:0.8em;
	margin:0em;
	font-weight:bold;
}



div.logobox
{
	height:100px;	
}

div.taglinebox
{
	display:flex;
	align-items: center;
	justify-content: center;
}

p.tagline
{
	font-size:2em;
	text-align:center;
}

nav {
	border-bottom:2px dotted #000000;
	width:100%;
    font-size:0.75em;
    margin: 0;
    overflow: hidden;
    text-align: right;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	list-style-type: none;
}
nav > ul > li > a {
	color: #000000;
	display: block;
	line-height: 2em;
	padding: 0.5em 0.5em;
	text-decoration: none;
}

main
{
	display: block;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
p 
{
    margin-bottom: 15px;
}

a{
    color:black;
}
a.visited{
    color:black;
}

h1
{
	line-height:1.1em;
}

h2
{
	font-size:1.5em;
	line-height:1.1em;
}



div.sidemenu
{
	float:right;
	background-color:lightgray;
	padding:0.5em;
	width:25%;
	border-bottom-left-radius:10px;	
}

div.sidemenu a
{
	font-size:0.7em;
}

.grid {
    display: flex;
    justify-content: center;

}
.grid-cell {
    flex: 1;
    padding: 10px;
    border:1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    text-align:center;
}


footer
{
	padding:2em;
}

footer p.eu
{
	text-align:center;width:250px;font-size:0.6em; line-height:1em;
}

div.eu img
{
	padding:0.5em;
}

#partners
{
	justify-content: flex-start;
	flex-wrap: wrap;
}


#partners div  {

    display: flex;
	justify-content: center;
	align-items: center;
	padding:0.2em;

}
#partners div a{
	text-decoration:none;
	padding:0em;
	margin:0em;
}


form {
	margin: 0 auto;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}

form ol
{
	padding:0em;
}

form li
{
	list-style: none;
}

form li.submit-buttons
{
	text-align:right;
	padding:1em;
}

form p.required
{
	color: #a6342c;
}

input, label {
    display:block;
}

input, textarea {
	font: 1em sans-serif;
	box-sizing: border-box;
	border: 1px solid #999;
}

input[type=checkbox], input[type=radio] 
{
	width: auto;
	border: none;
}

input:focus, textarea:focus {
	border-color: #000;
}

textarea {
	vertical-align: top;
	width:250px;
	height: 5em;
	resize: vertical;
}


fieldset{
	border:none;
}

button {
	margin: 20px 0 0 124px;
}

@media all and (max-width: 1024px) {
	main{
		max-width: 80%;
	}
}

@media all and (max-width: 649px) {
	
    .grid {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
	
	div.logobox
	{
		display:inline-block;
	}
	
	div.taglinebox
	{
		display:block;
		margin-bottom:25px;
	}

	header p.tagline
	{
		line-height:1.5em;
		font-size:1.3em;
	}
	
    nav
    {
        text-align:left;
    }
	nav > ul > li > a 
	{
        line-height:0.8em;
        padding: 0.2em 0.2em;
        font-size:1.5em;
    }
	
	
	main
    { 
		padding: 0em; 
		max-width: 95%; 	
    }

	div.sidemenu
	{
		width:100%;
		padding:0em;
	}

	div.sidemenu ul
	{
		margin:0em;
		padding:0em;
	}

	#partners div  {

		display: flex;
		justify-content: center;
		padding:0.2em;

	}

	div.eu
	{
		flex-wrap: wrap;
	}
}



@media all and (max-width: 500px) {
	p.tagline
	{
		font-size:0.7em;
	}
	.large {
		display: none;
	}
	nav {
		border-top:2px dotted #000000;
	}
	footer{
		padding:0em;
	}
	
}