@import 'variables';
@import 'bootstrap/bootstrap';
@import 'mixins';


body {
	font-family: $font-main;
}

.main-site-container {
	@include svg-background-image('bottom-wobbles');
	background-repeat: no-repeat;
	background-position: right bottom;
}

h1, .h1, h2, .h2 {
	font-family: $font-soft;
	letter-spacing: 1px;
}

img {
	max-width: 100%;
}

@import 'header';
@import 'footer';
@import 'layout';
@import 'buttons';