 <head>
    <meta charset="utf-8"/>
    <title>Change the Story</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Change the Story offers KS2 resources and hands-on support for teaching about the climate crisis, citizenship and digital competence.">
    <link rel="preconnect" href="https://www.googletagmanager.com/">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com/">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="stylesheet" type="text/css" href="/css/changethestory.css"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170295086-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-170295086-1');
    </script>
  </head>
