<!DOCTYPE html>
<html lang="en">
{% include "header.njk" %}
   <body>
    <main style="max-width:80%;">
      <div class="landing-logo">
        <a href="/"><img src="/images/spaceman_logo.svg" alt="Change the Story logo"
          style="background-size: 100px, 150px;"/></a>
        <p>Change the Story</p>
      </div>
      <div style="text-align:center;">

        {{ content | safe }}
      </div>
      <div class="grid" style="flex-wrap:wrap;">
        {% for country in countries %}

          <div class="grid-cell" style="border-style:none;flex: 0 0 auto; ">
            <a href="{{ country.name | slug }}" rel="noopener"><img src="{{ country.flagImageUrl }}" alt="{{ country.name}} flag" style="border: 1px solid gray"/><br/>{{ country.name }}</a>
          </div>
        {% endfor %}

      </main>
      <hr/>
{% include "footer.njk" %}
    </body>
  </html>