<!DOCTYPE html>
<html lang="en">
{% include "header.njk" %}
  <div class="logo">
    <a href="/">
      <img
            src="/images/spaceman_logo.svg"
            alt="Change the Story logo"
            style="background-size: 100px, 150px;"
/>
      <br/>Change the Story</a>
  </div>

  <div class="taglinebox">
    <p class="tagline">
      {% if country=="uk" %}
        {{ homepages[0].tagline.en | safe }}
      {% endif %}
      {% if country=="hungary" %}
        {{ homepages[0].tagline.hu | safe }}
      {% endif %}    
    </p>
  </div>
  <nav>
    <ul>
      {% block nav %}
      {% if country=="uk" %}
        {% include "menus/uk-menu.njk" %}
      {% endif %}
      {% if country=="hungary" %}
        {% include "menus/hu-menu.njk" %}
      {% endif %}
      {% endblock %}
    </ul>
  </nav>

  <main>
    {% block sidemenu %}{% endblock %}
    {% block maincontent %}{{ content | safe }}
    {% endblock %}

  </main>
  <hr/>
{% include "footer.njk" %}
</body>
</html>