<!DOCTYPE html>
<html lang="en">
<body class="{{ title }}">
{% include "header.njk" %}
<div class="header">
  <div class="logo-tagline">
    <a href="/" class="logo">
      Change the Story 
    </a>
    <span class="tagline">
    {% if country=="uk" %}
        {{ homepages[0].tagline.en | safe }}
      {% endif %}
      {% if country=="hungary" %}
        {{ homepages[0].tagline.hu | safe }}
      {% endif %}
    </span>
  </div>
  <nav>
    <ul class="nav">
      {% block nav %}
      {% if country=="uk" %}
        {% include "menus/uk-menu.njk" %}
      {% endif %}
      {% if country=="hungary" %}
        {% include "menus/hu-menu.njk" %}
      {% endif %}
      {% endblock %}
    </ul>
  </nav>
</div>
  

  <div class="container main-site-container">
    <div class="row">
      <main class="main-content">
        {% block maincontent %}{{ content | safe }}
      </main>
       <div class="sidebar">
        {% block sidemenu %}{% endblock %}
      </div>
    {% endblock %}

  </div>
  
{% include "footer.njk" %}
</body>
</html>