---
layout: layout.njk
---

{{ content | safe }}

{% if country=="uk" %}
{% block sidemenu %}
  <div class="sidemenu">
    <ul class="sidemenu">
      <li>
        <a href="/uk/about/project-documents/">Project Documents</a>
      </li>
    </ul>
  </div>
{% endblock %}
{% endif %}

