<!DOCTYPE html>
<html lang="en">
{% include "header.njk" %}
  <div class="logo">
    <a href="/">
      <img
            src="/images/spaceman_logo.svg"
            alt="Change the Story logo"
            style="background-size: 100px, 150px;"
/>
      <br/>Change the Story</a>
  </div>

  <div class="taglinebox">
    <p class="tagline">Creating new climate stories across Europe</p>
  </div>
  <nav>
    <ul>
      {% block nav %}
        <li>
          <a href="/uk/">Home</a>
        </li>
        <li>
          <a href="/uk/learning-resources">Learning Resources</a>
        </li>
        <li>
          <a href="/uk/assessement">Assessement</a>
        </li>
        <li>
          <a href="/uk/teacher-support">Teacher Support</a>
        </li>
        <li>
          <a href="/uk/about/">About the Project</a>
        </li>
        <li>
          <a href="/uk/contact/">Contact</a>
        </li>
      {% endblock %}
    </ul>
  </nav>

  <main>
    {% block sidemenu %}{% endblock %}
    {% block maincontent %}{{ content | safe }}
    {% endblock %}

  </main>
  <hr/>
{% include "footer.njk" %}
</body>
</html>