---
layout: layout.njk
---
{{ content | safe }}


{% for storyrow in stories | batch(3) %}
<div class="grid" style="flex-wrap:wrap;">
  {% for story in storyrow %}
  <div class="grid-cell" style="border-style:none;flex: 0 0 auto; ">
    <a href="{{ story.name | slug }}" rel="noopener"><img src="{{ story.mainImageUrl }}" alt="{{ story.name}}" style="border: 1px solid gray"/><br/>{{ story.name }}</a>
  </div>
{% endfor %}
</div>
{% endfor %}
