        <li>
          <a href="/austria/">Home</a>
        </li>
        <li>
          <a href="/austria/about/">{{ aboutpages[0].title.de }}</a>
        </li>
        <li>
          <a href="/austria/news/">{{ newspage[0].title.de }}</a>
        </li>
        <li>
          <a href="/austria/background/">{{ backgroundpage[0].title.de }}</a>
        </li>
        <li>
          <a href="/austria/assessment/">{{ assessmentpage[0].title.de }}</a>
        </li>  
        <li>
          <a href="/austria/learning-resources/">{{ learningresourcepage[0].title.de }}</a>
        </li>  
        <li>
          <a href="/austria/contact/">{{ contactpage[0].title.de }}</a>
        </li>        