        <li class="nav-item">
          <a class="nav-link" href="/hungary/">Kezdőlap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hungary/learning-resources">Tananyag</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" href="/hungary/about/">A projektről</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" href="/hungary/contact/">Kapcsolat</a>
        </li>