        <li>
          <a href="/hungary/">Kezdőlap</a>
        </li>
        <li>
          <a href="/hungary/learning-resources">Tananyag</a>
        </li>
        <li>
          <a href="/hungary/about/">A projektről</a>
        </li>
        <li>
          <a href="/hungary/contact/">Kapcsolat</a>
        </li>