        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/stories/turkey' in page.url }}" href="/stories/turkey/">Hikayeler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/stories/turkey/schools' in page.url }}" href="/stories/turkey/schools/">Okullar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/turkey/">Öğretmenler için Proje Bilgileri</a>
        </li>
 