        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/learning-resources' in page.url }}" href="/uk/learning-resources">Learning Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/assessement' in page.url }}" href="/uk/assessement">Assessement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/teacher-support' in page.url }}" href="/uk/teacher-support">Teacher Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/about' in page.url }}" href="/uk/about/">About the Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/contact' in page.url }}" href="/uk/contact/">Contact</a>
        </li>