        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/stories/uk' in page.url }}" href="/stories/uk/">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/schools/uk' in page.url }}" href="/stories/uk/schools/">Schools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/uk/">Project Information For Teachers</a>
        </li>
 