---
layout: layout-fullwidth.njk
country: uk-stories
pagination:
    data: stories
    size: 1
    alias: story
permalink: "stories/uk/{{ story.name | slug }}/"
---

<div class="story-page">
    <div class="story__header">
        <p><a href="/stories/uk/" class="small-link back-link">Back to stories</a></p>
        <h1>{{ story.name }}</h1>
    </div>
    <div class="story__meta">
        <ul class="list-unstyled meta-icon-list">
            <li>
                <i class="replace-with-icon replace-with-icon--date">Date:</i> 13 February 2021
            </li>
            <li>
                <i class="replace-with-icon replace-with-icon--category">Category:</i> Category name
            </li>
            <li>
                <i class="replace-with-icon replace-with-icon--school">School:</i> School name
            </li>
            <li>
                <i class="replace-with-icon replace-with-icon--country">Country:</i> Country
            </li>
        </ul>
    </div>
    <div class="story__description">
        {%- if story.who_created -%}
        <h4>Who Created This Story?</h4>
        <p>{{ story.who_created | safe }}</p>
        {%- endif -%}
        {%- if story.who_created -%}
        <h4>How Was the Story Created?</h4>
        <p>{{ story.how_created | safe }}</p>
        {%- endif -%}
    </div>


    <div class="story__content">
    {{ story.content | sanityToHTML | safe }}
        {%- if storycomments %}
    <h3>Comments</h3>
    {%- for storycomment in storycomments -%}
        {%- if storycomment.storyId==story.storyId -%}
    <p>{{ storycomment.comment }}</p>
    <p>Name: {{ storycomment.name}}<p>
    <p>School: {{ storycomment.school }} </p>
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}
{% include "storycommentsform.njk" %}
    </div>

</div>

